services:
  mysql_db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tienda_v1
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_pass
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 5

  app:
    build: .
    container_name: mi_app_mvc
    restart: always
    depends_on:
      mysql_db:
        condition: service_healthy
    ports:
      - "3000:3000"
    environment:
      DB_HOST: mysql_db
      DB_USER: app_user
      DB_PASS: app_pass
      DB_NAME: tienda_v1
      NODE_ENV: production
      PORT: 3000


      MERCADOPAGO_ACCESS_TOKEN: TEST-1234567890123456-123456-1234567890abc
      MERCADOPAGO_PUBLIC_KEY: TEST-12345678-1234-1234-1234-123456789012